.wrapper {
    background-color: #fafafa;
    padding-bottom: 96px;
    border-top: 1px solid #cfcfcf;
    margin-top: 76px;
    position: relative;
}

@media (min-width: 740px) and (max-width: 1024px) {
    .nav-footer {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        flex-direction: column;
    }
}

@media (max-width: 740px) {
    .nav-footer {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        flex-direction: column;
    }
}

.nav-footer {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 24px;
}

.make-by {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #555;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}