@media (min-width: 740px) and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        margin-top: 18px;

        & + & {
            border-top: 1px solid #e6e6e6;
        }
    }
}

@media (max-width: 740px) {
    .wrapper {
        width: 100%;
        margin-top: 18px;

        & + & {
            border-top: 1px solid #e6e6e6;
        }
    }
}

.wrapper {
    width: 100%;

}

.header {
    font-size: 24px;
    font-weight: 550;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.link {
    text-decoration: none;
    color: #666;
    padding: 2px 0;
    transition: all 0.15s ease-in;
    font-size: 15px;
    cursor: default;

    & + & {
        // margin-top: 4px;
    }

    &:hover {
        // color: var(--primary-color);
        font-weight: 500;
        color: #333;
        margin-left: 2px;
        padding-left: 5px;
        transition: all 0.12s ease-in;
    }
}