.map {
    display: block;
    height: 100%;
    // height: calc(100vh - var(--height-header)) !important;
    position: relative;
}

.wrapper {
    position: absolute;
    margin-top: var(--height-header);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // height: calc(100vh - var(--height-header));
}

.plus-icon {
    position: absolute;
    width: 100%;
    z-index: 2000;
    left: 50%;
    top: calc(50% - 12.5px);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: var(--primary-color);
}

.cus-btn-top-right {
    position: absolute;
    display: flex;
    width: 90px;
    z-index: 1000;
    flex-direction: column;
    align-items: end;
    top: 10px;
    right: 10px;
}

.cus-btn-bottom-left {
    position: absolute;
    display: flex;
    width: 90px;
    z-index: 1000;
    flex-direction: column;
    align-items: start;
    bottom: 10px;
    left: 10px;
}

.btn-cus-map {
    & + & {
        margin-top: 12px;
    }

    right: 0;
    padding: 4px 8px;
    width: 100%;
}

.type-map {
    // background-color: transparent;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px #bbb;

    &:hover {
        border: 5px solid #fff;
        transition: all linear .1s;
    }
}
